* {
  margin: 0px;
  padding: 0px;
}

html {
  font-family: "Bebas Neue", cursive;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  height: 100vh;
  background-image: url("background.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.profile > img {
  width: 150px;
  height: 150px;
  border: 3px solid black;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.profile > p {
  font-size: 1.8em;
  font-weight: 900;
  letter-spacing: 2px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin-top: 10px;
}

.link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.link > a {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  margin: 5px 20px;
  padding: 10px;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  background-color: #eaeaea;
  border: 3px solid black;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

.link > a:hover {
  background-color: azure;
}

.footer {
  text-align: center;
}

.footer > i {
  color: white;
  font-size: 25px;
}
